<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="logs/application.html">
            <HtmlLayout title="Log Messages" charset="UTF-8" locationInfo="true"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <logger name="common.BaseTest" level="DEBUG" additivity="false">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </logger>
    </Loggers>
</Configuration>